<div class="container">
    <nav aria-label="breadcrumb" style="background-color: white;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/appointments']">Appointments</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ appointment.description }}</li>
        </ol>
    </nav>
</div>

<!-- <div class="container">
  <div class="jumbotron">
    <div *ngIf="appointment">
        <h1 class="card-title">{{appointment.description}}</h1>
        <ul>
          <li class="card-title">Patient Name : {{appointment.patient_name}}</li>
          <li class="card-text">Doctor Name : {{appointment.doctor_name}}</li>
          <li class="card-text">Date : {{appointment.date}}</li>
          <li class="card-text">Time : {{appointment.time}}</li>
        </ul>
    </div>
    <a class="btn btn-primary" (click)="goBack()">Back</a>
  </div>
</div> -->

<div class="container">
    <table class="table table-hover table-dark" border="1">

        <tr>
            <th>Description</th>
            <td>{{ appointment.description }}</td>
        </tr>

        <tr>
            <th>Patient Name</th>
            <td>{{ appointment.patient_name }}</td>
        </tr>

        <tr>
            <th>Doctor Name</th>
            <td>{{ appointment.doctor_name }}</td>
        </tr>

        <tr>
            <th>Date</th>
            <td>{{ appointment.date }}</td>
        </tr>

        <tr>
            <th>Time</th>
            <td>{{ appointment.time }}</td>
        </tr>

    </table>
</div>
