<div class="container">
    <nav aria-label="breadcrumb" style="background-color: white;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/patients']">Patients</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ patient.name }}</li>
        </ol>
    </nav>
</div>

<div class="container">
    <table class="table table-hover table-dark" border="1">
        <tr>
            <th>Name</th>
            <td>{{ patient.name }}</td>
        </tr>

        <tr>
            <th>IC Number</th>
            <td>{{ patient.ic }}</td>
        </tr>

        <tr>
            <th>Age</th>
            <td>{{ patient.age }}</td>
        </tr>

        <tr>
            <th>Sex</th>
            <td>{{ patient.sex }}</td>
        </tr>
    </table>
</div>