<header>
        <div class="jumbotron jumbotron-fluid" id="banner">
          <div class="parallax text-center" id="background">
            <div class="parallax-pattern-overlay">
              <div class="container text-center" id="size-banner">
                <h2 class="display-2">Welcome To</h2>
                <h3 class="banner-tag-line">Gion Hospital</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- <div id="app">
            <nav class="navbar navbar-light navbar-static-top" style="background-color: black;"> 
                <span style="font-size:30px;cursor:pointer;color:white">&#9776; Gion Hospital</span>
            </nav>
       </div> -->

</header>

<firebase-ui (signInSuccess)="successCallback($event)"></firebase-ui>



<!-- <button (click)="logout()">Logout</button>
<button [routerLink]="['/page']">To second page</button> -->
