<div class="container">
    <nav aria-label="breadcrumb" style="background-color: white;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/doctors']">Doctors</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ doctor.name }}</li>
        </ol>
    </nav>
</div>

<div class="container">
    <table class="table table-hover table-dark" border="1">

        <tr>
            <th>Name</th>
            <td>{{ doctor.name }}</td>
        </tr>

        <tr>
            <th>Position</th>
            <td>{{ doctor.position }}</td>
        </tr>

        <tr>
            <th>IC Number</th>
            <td>{{ doctor.ic }}</td>
        </tr>

        <tr>
            <th>Age</th>
            <td>{{ doctor.age }}</td>
        </tr>

        <tr>
            <th>Email Address</th>
            <td>{{ doctor.email }}</td>
        </tr>

        <tr>
            <th>Comtact Number</th>
            <td>{{ doctor.contact_number }}</td>
        </tr>

    </table>
</div>
