<div class="doctor-detail">
    <div *ngIf="doctor" class="card">
      <div class="card-block">
        <h4 class="card-title">Name : {{doctor.name}}</h4>
        <h5 class="card-title">Position : {{doctor.position}}</h5>
        <p class="card-text">Age : {{doctor.age}}</p>
        <p class="card-text">Email : {{doctor.email}}</p>
        <p class="card-text">Contact Number : {{doctor.contact_number}}</p>
      </div>
    </div>
    <a class="btn btn-primary" (click)="goBack()">Back</a>
  </div>
  