<!-- <firebase-ui (signInSuccess)="successCallback($event)"></firebase-ui> -->
<!-- 
<button (click)="logout()">Logout</button>
<button (click)="getDoctorList()">list doctor</button>
<button [routerLink]="['/add']">Add doctor</button>
<button [routerLink]="['/video']">Video Call</button>
<button [routerLink]="['/']">Back to main</button> -->

<nav aria-label="breadcrumb" style="background-color: lightblue;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Appointments</li>
    </ol>
</nav>

<style>

table, tbody, tr, th {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

</style>

<div class="container">
    <div class="panel-heading">
        <a class="pull-right btn btn-primary btn-sm" [routerLink]="['/add']">Add New Appointment</a> 
    </div>
</div>

<div class="container">
    <table class="table table-hover table-dark" border="1">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Description</th>
                <th scope="col">Patient ID</th>
                <th scope="col">Doctor ID</th>
                <th scope="col">Hosptal ID</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let appointment of appointments">                
                <th scope="row"></th>
                <td><i aria-hidden="true"></i> <a routerLink="/viewApp/{{appointment.id}}">  {{ appointment.description }}</a></td>
                <td>{{ appointment.description }}</td>
                <td>{{ appointment.patient_id }}</td>
                <td>{{ appointment.doctor_id }}</td>
                <td>{{ appointment.hospital_id }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.time }}</td>
                <td><a routerLink="/editApp/{{appoitment.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
            </tr>           
        </tbody>
    </table>
</div>


<!-- <div *ngIf="doctors">
<h2>My Doctors</h2>
<ul class="doctors">
  <li *ngFor="let doctor of doctors">  
    <a routerLink="/edit/{{doctor.id}}">
      <span class="badge">{{doctor.id}}</span>{{doctor.name}}
    </a>

  </li>
</ul>
</div> -->
