<header>
    <div class="jumbotron jumbotron-fluid" id="banner">
      <div class="parallax text-center" style="background-image: url(./assets/img/shield-large.png);">
        <div class="parallax-pattern-overlay">
          <div class="container text-center" id="size-banner">
            <h2 class="display-2">Gion Hospital</h2>
            <h3 class="banner-tag-line">WELCOME TO OUR HOSPITAL</h3>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="footer" id="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <br>
        </div>
      </div>
    </div>
  </section>
  